
html, body {
    padding: 0;
    margin: 0;
}

.container {

    display: flex;
    width: 840px;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.editor-wrapper {
    width: 100%;
    height: 500px;
}

#editor-sendBtn {
    position: relative;
    right: 0;
    background-color: olive;
}
